atomicwrites==1.4.0
attrs==21.2.0
boto3==1.17.78
botocore==1.20.78
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
idna==3.1
iniconfig==1.1.1
jmespath==0.10.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
PyHamcrest==2.0.2
pyparsing==2.4.7
pytest==6.2.4
pytest-tesults==1.2.0
python-dateutil==2.8.1
requests==2.25.1
s3transfer==0.4.2
six==1.16.0
tesults==1.2.1
toml==0.10.2
urllib3==1.26.4
